body {
  font-family: sans-serif;
}
.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 10px 8px 10px #888888;
}

.wiki-content {
  padding: 10px 15px 10px 15px;
}

@media only screen and (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-flow: row-reverse;
  }
  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
  .img-container {
    min-width: 50%;
    max-width: 50%;
  }

  .wiki-container {
    max-width: width 960px;
    margin: 0 auto;
  }
}
.wiki-container {
  max-width: width 960px;
  margin: 0 auto;
}
}
